<template>
  <div class="">
    <el-button type="primary" @click="dialogVisible = true">Buy</el-button>

    <el-dialog
      title="Tips"
      :visible.sync="dialogVisible"
      width="50%"
      :before-close="handleClose">
      <div class="">
        <h3>Total purchase price - {{ calcSum | currency}}</h3>
      </div>
      <div class="calculator">
        <div class="display" >{{current || '0'}}</div>
        <div class="btn" @click="clear">C</div>
        <div class="btn" @click="sign">+/-</div>
        <div class="btn" @click="percent">%</div>
        <div class="btn operator" @click="divide">÷</div>
        <div class="btn" @click="append('7')">7</div>
        <div class="btn" @click="append('8')">8</div>
        <div class="btn" @click="append('9')">9</div>
        <div class="btn operator" @click="times">x</div>
        <div class="btn" @click="append('4')">4</div>
        <div class="btn" @click="append('5')">5</div>
        <div class="btn" @click="append('6')">6</div>
        <div class="btn operator" @click="subtract">-</div>
        <div class="btn" @click="append('1')">1</div>
        <div class="btn" @click="append('2')">2</div>
        <div class="btn" @click="append('3')">3</div>
        <div class="btn operator" @click="add">+</div>
        <div class="btn zero" @click="zero">0</div>
        <div class="btn" @click="dot">.</div>
        <div class="btn operator" @click="equal">=</div>
      </div>
      <br>
        <el-button type="primary" @click="dialogVisible1 = true">Click to pay for product</el-button>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">Cancel</el-button>
        <el-button type="primary" @click="dialogVisible = false">Confirm</el-button>
        1  {{current}}

      </span>
    </el-dialog>
    <el-dialog
  title="Tips"
  :visible.sync="dialogVisible1"
  width="30%"
  :before-close="handleClose">
  <span>surrender {{calculateCash }}</span>
  <span slot="footer" class="dialog-footer">
    <el-button @click="dialogVisible1 = false">Cancel</el-button>
    <el-button type="primary" @click="dialogVisible1 = false">Confirm</el-button>

  </span>
</el-dialog>



      </div>
</template>


<script>
import {mapGetters} from 'vuex'
export default {
  data(){
    return{
     previous: null,
     cash:1,
     surrender:1,
     dialogVisible:false,
     dialogVisible1:false,
     current:'',
     total:0,
     operator: null,
     operatorClicked: false
   }},
   methods: {
     handleClose(done) {
        this.$confirm('Are you sure to close this dialog?')
          .then(()=> {
            done();
          })
          .catch(() => {});
      },


     clear() {
       this.current = "";
     },
     sign() {
       this.current =
         this.current.charAt(0) === "-"
           ? this.current.slice(1)
           : `-${this.current}`;
     },
     percent() {
       this.current = `${parseFloat(this.current) / 100}`;
     },
     append(number) {
       if (this.operatorClicked) {
         this.current = "";
         this.operatorClicked = false;
       }
       this.current = `${this.current}${number}`;
     },
     dot() {
       if (this.current.indexOf(".") === -1) {
         this.append(".");
       }
     },
     zero() {
       if (!(this.current.length === 1 && this.current.indexOf(0)=== 0)) {
         this.append('0');
       }
     },
     setPrevious() {
       this.previous = this.current;
       this.operatorClicked = true;
     },
     divide() {
       this.operator = (number1, number2) => number1 / number2;
       this.setPrevious();
     },
     times() {
       this.operator = (number1, number2) => number1 * number2;
       this.setPrevious();
     },
     subtract() {
       this.operator = (number1, number2) => number1 - number2;
       this.setPrevious();
     },
     add() {
       this.operator = (number1, number2) => number1 + number2;
       this.setPrevious();
     },
     equal() {
       this.current = `${this.operator(
         parseFloat(this.previous),
         parseFloat(this.current)
       )}`;
       this.previous = null;
     }
   },
   computed:{
     ...mapGetters(['baskets']),
     calcSum() {
       let total = 0
       this.baskets.forEach(item => {
         total += item.price * item.count
       })
       return total
     },
       calculateCash(){
 let cash = this.current - this.calcSum 
   return cash
       },
   },
   filters: {
     currency(value) {
       return new Intl.NumberFormat('en-US', { style: 'currency', currency: 'UZS' }).format(value)
     }
   }
}
</script>
<style scoped>
.text{
  z-index: 20;
}
body {
   background: #40c4ff;
 }
 .calculator {
   margin: 0 auto;
   width: 400px;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-auto-rows: minmax(50px, auto);
   font-size: 40px;
   text-align: center;
 }
 .display {
   grid-column: 1/5;
   background-color: #333;
   color: #fff;
   padding: 1vmin;
 }
 .zero {
   grid-column: 1/3;
 }
 .btn {
   background-color: #f2f2f2;
   border: 1px solid #999;
   cursor: pointer;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   transition: all 0.3s;
 }
 .btn:active {
   filter: brightness(0.75);
 }
 .operator {
   background-color: #33691e;
   color: #fff;
 }
</style>
