<template>

  <div id="app">
    <div class="hello">
      <el-menu class="el-menu-demo" mode="horizontal">
        <el-menu-item index="1">Processing Center</el-menu-item>
        <el-submenu index="2">
          <template slot="title">Workspace</template>
          <el-menu-item index="2-1">item one</el-menu-item>
          <el-menu-item index="2-2">item two</el-menu-item>
          <el-menu-item index="2-3">item three</el-menu-item>
          <el-submenu index="2-4">
            <template slot="title">item four</template>
            <el-menu-item index="2-4-1">item one</el-menu-item>
            <el-menu-item index="2-4-2">item two</el-menu-item>
            <el-menu-item index="2-4-3">item three</el-menu-item>
          </el-submenu>
        </el-submenu>
        <el-menu-item index="3" disabled>Info</el-menu-item>
        <el-menu-item index="4"><a href="https://www.ele.me" target="_blank">Orders</a></el-menu-item>
      </el-menu>
      <el-row :gutter="20">
        <el-col :span="16">
          <el-tabs type="card">
            <el-tab-pane label="All">
              <el-row :gutter="20" class="rowOfProducts">
                <el-col :span="8" class="colOfProducts" v-for="product of products" :key="product.id">
                  <div :body-style="{ padding: '0px' }" class="cardOfProducts" :title="product.title" @click="addProduct(product)">
                    <img :src="product.image" class="image">
                    <p>{{product.title}}</p>
                    <strong>{{product.price | currency}}</strong>
                    <div class="block">
                      <h1>{{product.title}}</h1>
                      <el-rate v-model="value1"></el-rate>
                    </div>
                  </div>
                </el-col>
              </el-row>
            </el-tab-pane>
            <el-tab-pane label="Burger">
              <el-row :gutter="20" class="rowOfProducts">
                <el-col :span="8" class="colOfProducts" v-for="burger of burgers" :key="burger.id">
                  <div :body-style="{ padding: '0px' }" class="cardOfProducts">
                    <img :src="burger.image" class="image">
                    <p>Shef Burger <strong>12$</strong></p>
                    <div class="block">
                      <h1>{{burger.title}}</h1>
                      <el-rate v-model="value1"></el-rate>
                    </div>

                  </div>
                </el-col>
              </el-row>
            </el-tab-pane>
            <el-tab-pane label="Lavash">
              <el-row :gutter="20" class="rowOfProducts align-center">
                <el-col :span="8" class="colOfProducts" v-for="burger of lavashs" :key="burger.id">
                  <div :body-style="{ padding: '0px' }" class="cardOfProducts">
                    <img :src="burger.image" class="image">
                    <p>Shef Burger <strong></strong></p>
                    <div class="block">
                      <h1>{{burger.title}}</h1>
                      <div class="block">
                        <span class="demonstration">Default</span>
                        <el-rate v-model="value1"></el-rate>
                      </div>
                    </div>
                  </div>
                </el-col>
              </el-row>
            </el-tab-pane>
            <el-tab-pane label="Pizza">
              <el-row :gutter="20" class="rowOfProducts">
                <el-col :span="8" class="colOfProducts" v-for="pizza of pizzas" :key="pizza.id">
                  <div :body-style="{ padding: '0px' }" class="cardOfProducts">
                    <img :src="pizza.image" class="image">
                    <div class="block">
                      <h1>{{pizza.title}}</h1>
                    </div>
                  </div>
                </el-col>
              </el-row>
            </el-tab-pane>
          </el-tabs>
        </el-col>
        <el-col :span="8">
          <el-tabs type="border-card">
            <el-tab-pane label="User">
              <div class="">
                <strong>Welcome</strong>
                <div class="product">
                  <p>Burgers,Lavash </p>
                  <el-button-group>
                    <el-button type="primary" plain icon="el-icon-plus"></el-button>
                    <el-button type="primary" disabled>2</el-button>
                    <el-button type="primary" plain icon="el-icon-minus"></el-button>
                  </el-button-group>
                  <el-badge :value="1" class="itemCounter" type="primary">
                    <el-button size="small">count</el-button>
                  </el-badge>
                </div>

              </div>
              <div class="information">
                <tbody class="tbody" data-topic="race">
                  <tr>
                    <th colspan="4" class="unfolded">Ordered</th>
                  </tr>
                  <tr style="display: table-row; justify-content: space-between;" v-for="product of baskets" :key="product.id">
                    <td><span>{{product.title}} -</span></td>
                    <td class="prices"><strong>{{product.price | currency}}</strong></td>
                  </tr>
                  <tr>

                  </tr>
                </tbody>
                <br>
                <h3>Total purchase price - {{ calcSum | currency}}</h3>
                <open-window calcSum=""></open-window>

              </div>

            </el-tab-pane>
            <el-tab-pane label="Config">Config
              <div class="">
                <!-- <div class="" v-for="product of filtedProducts" :key="product.id">
                    {{product.title}}
                  </div> -->
              </div>
            </el-tab-pane>
          </el-tabs>
        </el-col>
      </el-row>

      <div class="">

        <router-view></router-view>
      </div>
    </div>
  </div>

</template>
<script>

  import { mapGetters } from 'vuex'
  export default {
    name: 'App',
    data() {
      return {
        activeName: 'first',
        value1: 4,
        total: '',

        cartData: [
          {
            price: 5,
            qty: 1
          },
          { price: 5, qty: 1 }
        ],
        selectedCategory: 'All',
      }
    },
    methods: {
      callWindow() {
        this.$router.push('calculate')
      },
      addProduct(product) {
        this.baskets.push(product)
        console.log(product)
      }
    },
    computed: {
      ...mapGetters(['products', 'dialogVisible','baskets']),

      calcSum() {
        let total = 0
        this.baskets.forEach(item => {
          total += item.price * item.count
        })
        return total
      },
      burgers() {
        return this.products.filter(item => {
          return item.category == 'Burgers'
        })
      },
      lavashs() {
        return this.products.filter(item => {
          return item.category == 'Lavash'
        })
      },
      pizzas() {
        return this.products.filter(item => {
          return item.category == 'Pizza'
        })
      }
    },
    filters: {
      currency(value) {
        return new Intl.NumberFormat('en-US', { style: 'currency', currency: 'UZS' }).format(value)
      }
    }
  }

</script>

<style>

  .information {
    margin-top: 80px;
  }
  .rowOfProducts {
    margin-top: 10px;
  }
  .cardOfProducts {
    cursor: pointer;
  }
  .image {
    width: 280px;
    height: 200px;
  }
  .itemCounter {
    margin-left: 10px;
  }

</style>
